<a href="https://colab.research.google.com/github/leviaaf/KNN_SVM_IoTFireDetection_AccuracyTesting/blob/main/SVM_IoTFireDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv('Training Dataset.csv')

In [3]:
dataset.head()

       Time  Api  Suhu  Kelembaban    PPM            Label
0  13:33:59    0  26.9          72  50.14  Tidak Kebakaran
1  13:34:03    0  26.8          72  50.89  Tidak Kebakaran
2  13:34:06    0  26.9          72  49.77  Tidak Kebakaran
3  13:34:10    0  26.9          72  51.64  Tidak Kebakaran
4  13:34:14    0  26.8          72  54.34  Tidak Kebakaran

In [4]:
le=LabelEncoder()
dataset["Label"]=le.fit_transform(dataset["Label"])

In [5]:
dataset.head()

       Time  Api  Suhu  Kelembaban    PPM  Label
0  13:33:59    0  26.9          72  50.14      0
1  13:34:03    0  26.8          72  50.89      0
2  13:34:06    0  26.9          72  49.77      0
3  13:34:10    0  26.9          72  51.64      0
4  13:34:14    0  26.8          72  54.34      0

In [6]:
dataset = dataset.iloc[:,1:]
dataset.head()

   Api  Suhu  Kelembaban    PPM  Label
0    0  26.9          72  50.14      0
1    0  26.8          72  50.89      0
2    0  26.9          72  49.77      0
3    0  26.9          72  51.64      0
4    0  26.8          72  54.34      0

In [7]:
x=dataset.iloc[ : , :-1]
x.head()

   Api  Suhu  Kelembaban    PPM
0    0  26.9          72  50.14
1    0  26.8          72  50.89
2    0  26.9          72  49.77
3    0  26.9          72  51.64
4    0  26.8          72  54.34

In [8]:
y=dataset.iloc[ : ,-1]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Label, dtype: int64

In [9]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2)

In [10]:
print(xtrain)

     Api  Suhu  Kelembaban      PPM
269    0  23.3          84     8.58
109    1  35.1          84  2748.92
50     0  26.8          75    62.54
202    1  30.1          73   323.20
135    0  23.6          85    56.72
..   ...   ...         ...      ...
56     0  26.8          75    59.59
194    1  26.6          82   464.86
27     0  26.8          74    49.03
325    1  36.9          46   599.33
5      0  26.8          72    47.57

[296 rows x 4 columns]

In [11]:
print(xtest)

     Api  Suhu  Kelembaban      PPM
140    0  23.6          84    48.66
172    0  23.6          85    60.84
257    0  23.2          84     4.99
117    1  39.4          77  3724.66
54     0  26.8          75    50.89
..   ...   ...         ...      ...
332    0  35.7          45   621.83
312    1  25.1          85  9053.61
217    1  34.4          63   393.85
231    1  37.0          55   421.24
87     1  28.0          76   441.85

[75 rows x 4 columns]

In [12]:
from sklearn.preprocessing import Normalizer
normscaler = Normalizer()
xtrain = normscaler.fit_transform(xtrain)
xtest = normscaler.fit_transform(xtest)

In [13]:
print(xtrain)

[[0.00000000e+00 2.66003463e-01 9.58982443e-01 9.79532067e-02]
 [3.63579874e-04 1.27616536e-02 3.05407094e-02 9.99451986e-01]
 [0.00000000e+00 2.64653552e-01 7.40634940e-01 6.17590789e-01]
 ...
 [0.00000000e+00 2.89022401e-01 7.98046929e-01 5.28760012e-01]
 [1.66050870e-03 6.12727710e-02 7.63834001e-02 9.95192678e-01]
 [0.00000000e+00 2.96587502e-01 7.96802244e-01 5.26442816e-01]]

In [14]:
print(xtest)

[[0.00000000e+00 2.36227412e-01 8.40809433e-01 4.87068893e-01]
 [0.00000000e+00 2.20229512e-01 7.93199513e-01 5.67744216e-01]
 [0.00000000e+00 2.65787777e-01 9.62335055e-01 5.71672848e-02]
 [2.68408509e-04 1.05752953e-02 2.06674552e-02 9.99730437e-01]
 [0.00000000e+00 2.83553718e-01 7.93527197e-01 5.38434654e-01]
 [0.00000000e+00 2.63541128e-01 9.46045073e-01 1.88533268e-01]
 [0.00000000e+00 2.52753166e-01 9.14213579e-01 3.16748116e-01]
 [2.14415552e-03 5.72489525e-02 1.56523353e-01 9.86011359e-01]
 [0.00000000e+00 1.33127727e-02 1.95873713e-02 9.99719513e-01]
 [0.00000000e+00 2.30514111e-01 8.20473954e-01 5.23149821e-01]
 [2.15755616e-03 8.04768446e-02 1.27295813e-01 9.88592231e-01]
 [0.00000000e+00 2.61184711e-01 9.37586140e-01 2.29596987e-01]
 [5.47073490e-04 1.75610590e-02 4.43129527e-02 9.98863190e-01]
 [0.00000000e+00 2.10315013e-01 7.48578858e-01 6.28806241e-01]
 [0.00000000e+00 2.76253453e-01 7.62789385e-01 5.84667755e-01]
 [1.64405537e-03 6.00080212e-02 7.56265472e-02 9.95327564e-01]
 [0.00000000e+00 2.66597499e-01 7.36127423e-01 6.22127149e-01]
 [0.00000000e+00 2.47863460e-01 8.96527408e-01 3.67154342e-01]
 [0.00000000e+00 2.82271290e-01 7.82324924e-01 5.55239257e-01]
 [0.00000000e+00 7.65736454e-02 1.44197125e-01 9.86581809e-01]
 [0.00000000e+00 2.65989945e-01 9.63067044e-01 4.18475561e-02]
 [2.35876522e-03 6.32149079e-02 1.74548626e-01 9.82614415e-01]
 [0.00000000e+00 2.27724487e-01 8.10544785e-01 5.39591243e-01]
 [2.29484997e-03 8.55979039e-02 1.26216748e-01 9.88300089e-01]
 [0.00000000e+00 7.02769876e-02 1.27167882e-01 9.89388435e-01]
 [0.00000000e+00 2.57174176e-01 9.30204468e-01 2.61879917e-01]
 [0.00000000e+00 2.65017145e-01 9.51343596e-01 1.57198204e-01]
 [0.00000000e+00 6.41956797e-02 8.88009403e-02 9.93978525e-01]
 [1.40031432e-03 5.15315670e-02 7.14160303e-02 9.96113592e-01]
 [0.00000000e+00 5.98769027e-02 7.84711546e-02 9.95116593e-01]
 [0.00000000e+00 2.48711139e-01 8.99593483e-01 3.58990717e-01]
 [0.00000000e+00 2.41594554e-01 8.73852642e-01 4.21916617e-01]
 [0.00000000e+00 2.46405619e-01 8.91254368e-01 3.80722895e-01]
 [0.00000000e+00 2.90272312e-01 7.90667119e-01 5.39061678e-01]
 [1.57495824e-03 5.79584631e-02 7.08731206e-02 9.95798844e-01]
 [0.00000000e+00 2.61085597e-01 9.64881554e-01 2.89464466e-02]
 [0.00000000e+00 2.84167248e-01 7.95244165e-01 5.35570437e-01]
 [0.00000000e+00 7.98124404e-02 1.54391278e-01 9.84780842e-01]
 [0.00000000e+00 1.74722085e-02 2.57715075e-02 9.99515158e-01]
 [7.47430918e-04 2.35440739e-02 5.90470426e-02 9.97977237e-01]
 [0.00000000e+00 1.41556758e-02 2.15874055e-02 9.99666745e-01]
 [0.00000000e+00 7.20421511e-02 1.42188456e-01 9.87214451e-01]
 [0.00000000e+00 2.65170720e-01 9.55980280e-01 1.25643122e-01]
 [2.80232807e-03 8.60314716e-02 1.98965293e-01 9.76219005e-01]
 [0.00000000e+00 2.33211742e-01 8.30075691e-01 5.06543809e-01]
 [0.00000000e+00 2.93125912e-01 7.84574933e-01 5.46369266e-01]
 [0.00000000e+00 2.16728155e-01 7.80588694e-01 5.86268026e-01]
 [0.00000000e+00 6.27111440e-02 9.06444265e-02 9.93906887e-01]
 [0.00000000e+00 2.14623102e-01 7.63912735e-01 6.08583813e-01]
 [2.21264486e-03 7.74425700e-02 1.30546047e-01 9.88410584e-01]
 [0.00000000e+00 2.65413980e-01 9.60981653e-01 7.79081555e-02]
 [1.61590895e-03 5.97886313e-02 8.24113566e-02 9.94802029e-01]
 [0.00000000e+00 2.62107760e-01 9.64465782e-01 3.32457029e-02]
 [0.00000000e+00 6.27715788e-02 9.95159177e-02 9.93054032e-01]
 [0.00000000e+00 2.15681029e-01 7.67678238e-01 6.03449929e-01]
 [0.00000000e+00 2.64043148e-01 9.51915212e-01 1.55366161e-01]
 [0.00000000e+00 6.78681361e-02 1.36190240e-01 9.88355267e-01]
 [0.00000000e+00 2.73276355e-01 7.57395142e-01 5.93019926e-01]
 [8.03821725e-04 2.51596200e-02 6.67172032e-02 9.97454341e-01]
 [0.00000000e+00 2.39502170e-01 8.52465351e-01 4.64695100e-01]
 [0.00000000e+00 2.65737684e-01 9.62153682e-01 6.03636894e-02]
 [0.00000000e+00 2.33419571e-01 8.40706083e-01 4.88598594e-01]
 [1.98421153e-03 7.42095113e-02 1.15084269e-01 9.90577923e-01]
 [0.00000000e+00 2.53206645e-01 9.15853822e-01 3.11605795e-01]
 [1.53215331e-03 4.45856614e-02 1.22572265e-01 9.91456409e-01]
 [0.00000000e+00 2.25812395e-01 8.03739034e-01 5.50465555e-01]
 [0.00000000e+00 2.86577751e-01 7.91296774e-01 5.40113514e-01]
 [2.51674007e-03 9.28677086e-02 1.53521144e-01 9.83768526e-01]
 [0.00000000e+00 2.93277188e-01 7.87908863e-01 5.41468480e-01]
 [1.02388949e-03 3.49146317e-02 7.06483749e-02 9.96889526e-01]
 [0.00000000e+00 5.71678003e-02 7.20602524e-02 9.95760595e-01]
 [1.10447886e-04 2.77224193e-03 9.38807028e-03 9.99952082e-01]
 [2.49788408e-03 8.59272122e-02 1.57366697e-01 9.83791643e-01]
 [2.34507919e-03 8.67679300e-02 1.28979355e-01 9.87841158e-01]
 [2.22611488e-03 6.23312167e-02 1.69184731e-01 9.83608861e-01]]

In [15]:
model = SVC(kernel='linear', C=1E10)

In [16]:
model.fit(xtrain, ytrain)

SVC(C=10000000000.0, kernel='linear')

In [17]:
predictions = model.predict(xtest)
print(predictions)

[0 0 0 1 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0
 0 0 1 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 1 1 1
 1]

In [18]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [19]:
percentage = accuracy_score(ytest,predictions)

In [20]:
res = confusion_matrix(ytest, predictions)
print(classification_report(ytest,predictions))
print("Confusion Matrix")
print(res)
print(f"Test Set: {len(xtest)}")
print(f"Accuracy = {percentage*100} %")

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        53
           1       1.00      1.00      1.00        22

    accuracy                           1.00        75
   macro avg       1.00      1.00      1.00        75
weighted avg       1.00      1.00      1.00        75

Confusion Matrix
[[53  0]
 [ 0 22]]
Test Set: 75
Accuracy = 100.0 %